@import "menu.scss";
@import "common-values.scss";
@import "grid.scss";

@import "../node_modules/bootstrap/scss/functions";

$accordion-button-active-color: black;
$accordion-button-color: black;
$bs-border-color: #dee2e6;
$accordion-icon-width: .8125rem;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
// import accordion component with variable overrides applied
@import "../node_modules/bootstrap/scss/_accordion.scss";

.accordion{
  --bs-accordion-border-color: #dee2e6;
}

.accordion-button{
padding: 0rem !important;
font-weight: 500;
}

.accordion-item:first-of-type(.collapsed) .accordion-button {
  --bs-accordion-color: $accordion-button-color
  --bs-accorion-border-color: $accordion-button-color
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

.accordion-button:not(.collapsed)::after {
  background-color: #e7f1ff;
  --bs-accordion-btn-color: $accordion-button-color;
  --bs-accordion-active-color: $accordion-button-active-color;
}

// Temporary classes
.content-warning {
	font-size: 16px;
	font-weight: 600;
	margin-top: 13px;
	max-width: 1150px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	text-align: center;
}

#demo-text {
	line-height: $header-height;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	@media only screen and (max-width: 767px) {
		display: none;
	}
}

#demo-text-small {
	@media only screen and (min-width: 768px) {
		display: none;
	}
}

.highlight {
	color: darkgoldenrod;
	font-size: 20px;
	font-weight: 700;
}

// End temporary classes

body {
	overflow: auto;
	color: rgb(51, 51, 51);
	font-feature-settings: "kern";
	font-kerning: normal;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: normal;
	text-rendering: optimizelegibility;
	text-transform: none;
}

body.slide-viewer-body {
	ms-overflow-style: none;
    overflow: hidden;
}

a:hover {
	color: black;
	text-decoration: none;
}

.clickable {
	cursor: pointer;
}

.hoverable:hover {
	opacity: 0.6;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

//https://stackoverflow.com/questions/7615009/disable-interpolation-when-scaling-a-canvas
canvas {
	image-rendering: optimizeSpeed;             /* Older versions of FF          */
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

#navbar {
	background-color: white;
	border-bottom: 1px solid #e7e7e7;

	.navbar-header {

		text-decoration: none !important;

		.navbar-brand img.logo {
			width: 80px;
			min-width: 80px;
		}
	}

	#feedback-button {
		margin-top: 10px;
	}
}

#landing-page {
	margin-top: 15px;
	margin-left: 15px;
}


.container-fluid {
	margin-left: 0px !important;
	margin-right: 0px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}


#summary-page {
	max-width: 1150px;
	position: relative;
	margin: auto;

	.btn-primary {
		background-color: #BB0606;
		border-color: #BB0606;
	}

	#participant-select-wrapper {
		padding: 10px;
		position: fixed;
		top: 60px;
		z-index: 1000;
		background: white;
		width: 100%;

		.participant-select {
			width: 230px;
			margin-right: 10px;
		}
		
		.participant-select-dropdown {
			line-height: 15.4333px;
			width: 230px;
		}

		p {
			line-height: 15.4333px;
			font-size: 13px;
			text-align: left;
			text-decoration: none;
			text-decoration-color: rgb(51, 51, 51);
			text-decoration-line: none;
			text-decoration-style: solid;
			white-space: nowrap;
		}
	}

}

#btn-home {
	position: fixed;
	width: 45px;
	height: 45px;
	left: $standard-padding;
	top: calc(#{$header-height + $standard-padding});
	background-color: white;
	z-index: 1000;
	border-radius: 50%;
    box-shadow: 0px 3px 5px gray;
	
	svg {
	  	width: 27px !important;
  		height: 27px !important;
  		margin-top: 8px;
  		margin-left: 9px;
  		color: $kpmp-blue;
	}
}

#btn-home:hover {
	opacity: 0.6;
}

#slide-viewer {
	position: absolute;
	top: $header-height;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.osd-div {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 500; // less than the z-index of #side-menu

	.openseadragon {
		width: 100%;
		height: 100%;
	}

	.osd-navigator-wrapper {
		position: fixed;
		right: 5px;
		bottom: 5px;
		background: #000;
		overflow: hidden;
		width: 166px;
		height: 178px;
		border: solid 1px #000000;
		z-index: 3100
	}

	#osd-navigator {
		width: 166px;
		height: 178px;
		position: absolute;
		top: 0;
	}

	.osd-toolbar {
		width: 30px;
		display: block;
		position: fixed;
		bottom: 185px;
		right: 20px;
		list-style: none;
		z-index: 110;
		padding: 0;

		> li {
			list-style: none;
		}

		.osd-button {
			width: 40px;
			height: 40px;
			font-height: 40px;
			padding-top: 7px;
			font-size: 14pt;
			display: block !important;
			background: white;
			color: $kpmp-blue;
			margin-bottom: 1px;
			cursor: pointer;
			text-align: center;
			box-shadow: 0px 5px 5px -1px #666;
		}

		.osd-button:hover {
			opacity: 0.6;
		}
	}
}

@media only print {
	body {

		background: white;

		#-select-wrapper, #slide-viewer, .osd-div, .osd-navigator-wrapper, #osd-navigator, .osd-toolbar, .nav-container {
			display: none !important;
		}

		#print-container {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			bottom: 0px;
			margin: 0px auto auto auto !important;
			border: 1px solid;
			overflow: hidden;
			background: white;

			#print-slide-text {
				position: absolute;
				bottom: 0.5in;
				left: 0.5in;
				padding: 0.25in;
				background-color: white;
				opacity: 0.75;
			}

			img#print-slide-image {
				display: block;
				position: relative;
				margin: auto;
				padding: 0.5in;
				max-width: 100%;
				max-height: 100%;
				page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
				page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
				page-break-inside: avoid; /* or 'auto' */
				object-fit: scale-down;
			}
		}
	}
}

@page {
	size: landscape;
	margin: 0;
}

#oops-content {

	margin-top: 150px;

	.oops-big {
		font-size: 72px;
	}

	.oops-small {
		font-size: 32px;
	}

	#oops-image {
		width: 385px;
		height: 330px;
	}
}
#not-found-page {
  padding: 20px;
  background-color: $kpmp-gray;

  .not-found-image {
    max-width: 90%;
    margin-top: 30px;
    margin-right: 40px;
  }

  .not-found-container {
    max-width: 60%;
    margin: auto;
  }

  .not-found-text {
    padding-top: 30px;

    .not-found-regular {
      font-size: 32px;
    }

    .not-found-small {
      font-size: 24px;
    }
  }
}
#permissions {
	margin-top: 60px;
}

.error-header {
	font-size: 20px;
}

#grid-control {
	text-wrap: nowrap;
}