@import "common-values.scss";
$menu-header-height: 80px;


.bm-burger-button {
  position: fixed;
  width: 45px;
  height: 45px;
  left: calc(#{$standard-padding + $standard-padding + $menu-button-width});
  top: calc(#{$header-height + $standard-padding});
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 3px 5px gray;
   
  svg {
  	width: 23px !important;
  	height: 23px !important;
  	margin-top: 11px;
  	margin-left: 11px;
  	color: $kpmp-blue;
  }
  
}

.bm-burger-button:hover {
  opacity: 0.6;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: white;
}

.bm-menu {
  background: white;
  border-right: 1px solid silver;
}

.bm-overlay {
  background: white;
}

.bm-item-list {
  color: black;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-bars {
	background: black;
	
}

// Old styles from the original menu, leaving them here so we can adjust as needed in the next card


#side-menu {
	z-index: 1000;
	max-height: calc(100vh - #{$header-height});
	overflow: hidden;
	border-right: 1px solid silver;

	#bm-menu-wrap {
		@media only screen and (max-width: 401px) {
			width: 100% !important;
		}
		@media only screen and (min-width: 402px) {
			width: 90% !important;
		}
		@media only screen and (min-width: 484px) {
			width: 75% !important;
		}
		@media only screen and (min-width: 552px) {
			width: 66% !important;
		}
		@media only screen and (min-width: 875px) {
			width: 45% !important;
		}
		@media only screen and (min-width: 1095px) {
			width: 33% !important;
		}
	}

	.row {
		margin-right: 0px !important;
		margin-left: 0px !important;
	}
	
	.menu-slide-list-header {
		background-color: $kpmp-blue;
		color: white;
		height: $menu-header-height;
		
		a:hover, a:visited, a {
			color: white;
		}
		
		.row {
			padding-bottom: 20px;
		}
		
		.pad-right {
			margin-right: 15px;
		}
		
		.menu-title {
			font-weight: 400;
			font-size: 15px;
			padding-top: 5px;
		}
		
		.menu-control {
			padding-top: 5px;
		}
		
		.menu-control:hover {
			opacity: 0.6;
		}
	}
	.menu-slide-list-header-child {
		position: absolute;
		background-color: white;
		z-index: 99;
		width: 225px;
		top: 75px;
		border-radius: 5px;
		color: #333;
		padding: 2%;
		box-shadow: 0px 3px 5px gray;
		@media only screen and (max-width: 401px) {
			margin-left: 19%;
		}
		@media only screen and (min-width: 402px) {
			margin-left: 19%;
		}
		@media only screen and (min-width: 450px) {
			margin-left: 24%;
		}
		@media only screen and (min-width: 460px) {
			margin-left: 23%;
		}
		@media only screen and (min-width: 630px) {
			margin-left: 25%;
		}
		@media only screen and (min-width: 650px) {
			margin-left: 29%;
		}
		@media only screen and (min-width: 720px) {
			margin-left: 33%;
		}
		@media only screen and (min-width: 720px) {
			margin-left: 36%;
		}
		@media only screen and (min-width: 815px) {
			margin-left: 39%;
		}
		@media only screen and (min-width: 875px) {
			margin-left: 22%;
		}
		@media only screen and (min-width: 875px) {
			margin-left: 25%;
		}
		@media only screen and (min-width: 975px) {
			margin-left: 29%;
		}
		@media only screen and (min-width: 1060px) {
			margin-left: 33%;
		}
		@media only screen and (min-width: 1095px) {
			margin-left: 16%;
		}
		@media only screen and (min-width: 1175px) {
			margin-left: 22%;
		}
		@media only screen and (min-width: 1285px) {
			margin-left: 26%;
		}
		@media only screen and (min-width: 1365px) {
			margin-left: 30%;
		}
		@media only screen and (min-width: 1440px) {
			margin-left: 32%;
		}
	}

	.menu-slide-list-header-child label {
		margin-left: 2%;
	}
	.menu-slide-list-header label {
		width: 31%;
		font-size: 12px;
	}
	.menu-slide-list-header input {
		width: 52%;
	}
	.menu-slide-list-header .micolabel {
		margin-left: 3%;
	}
	#menu-slide-list {
		background: white;
		border-bottom: 1px solid silver;

		#slides-col {
			padding-left: 0px;
			padding-right: 0px;
		}

		#menu-slide-list-slides {
			max-height: calc(100vh - (#{$header-height} + #{$menu-header-height}));
			min-height: calc(100vh - (#{$header-height} + #{$menu-header-height}));
			overflow: auto;
			
			.slide-highlighted {
				background-color: rgba(230, 241, 255, 1);
			}

			.slide-menu-item {
				cursor: pointer;	
				border-bottom: 1px solid silver;
				
				.no-padding {
					padding-left: 0px;
				}
				
				.slide-name {
					text-align: left;
					height: $thumbnail-height;
					line-height: $thumbnail-height;
					color: $link-blue;
				}

				.thumbnail {
					height: $thumbnail-height;
					width: $thumbnail-width;
				}
			}
			
		}
		
	}
}